{% extends "layout.html" %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">STASH Load Confirm</h5>
                <form method="POST">
                    <h5>Load Confirm</h5>
		    <h6>key:  {{req.key}}</h6>
		    <h6>email_hash:  {{req.email_hash}}</h6>
		    <h6>IV:  {{req.IV}}</h6>
		    <h6>cypherterxt:  {{req.cyphertext}}</h6>
		    <h6>question:  {{req.question}}</h6>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary" name="confirm" value="true">Confirm config</button>
                    <button type="submit" class="btn btn-primary" name="confirm" value="false">Cancel</button>
                </form>
            </div>
        </div>

{% endblock %}
