{% extends "layout.html" %}

{% block content %}
<a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
<a class="btn btn-primary" href="/dashboard"><i class="glyphicon glyphicon-chevron-left"></i>&nbspDashboard</a>
<a class="btn btn-primary" href="/dashboard_report2"><i class="glyphicon glyphicon-chevron-left"></i>&nbspUser Balance</a>

<div class='some-page-wrapper'>
  <div class='row'>
    <div class='column'>
      <div class='title-column'>
	      date
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	     proposed by 
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      categories
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      authorized by
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      reason
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      date authorized
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      date expiry
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      status
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      proposed total
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      claimed
      </div>
    </div>
  </div>
  {% for result in results %}
  <div class='row'>
    <div class='column'>
      <div class='title-column'>
	      {{result.date}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      {{result.proposed_by}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      {{result.category}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      {{result.authorized_by}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	     {{result.ireason}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      {{result.date_authorized}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      {{result.date_expiry}}
      </div>
    </div>
    <div class='column'>
      <div class='title-column'>
	      {{result.status}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
